<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="#"></a>
  <div class="column">
    <h2><span style="color: blue">CORPORATE</span><br />CONSULTING</h2>
  </div>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          LIVE DEMO
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Corporate Consulting</a>
          <a class="dropdown-item" href="#">Financial Consulting</a>
          <a class="dropdown-item" href="#">Management Consulting</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          LIVE DEMO BLOCKS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Headers/Clients/Map</a>
          <a class="dropdown-item" href="#">Features/Social/Footers</a>
          <a class="dropdown-item" href="#">Content/Images&Videos</a>
          <a class="dropdown-item" href="#">Tabs/Team/Testimonials</a>
          <a class="dropdown-item" href="#">Pricing-Tables/Call To Action</a>
          <a class="dropdown-item" href="#">Progress/Info/Forms</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <button class="p-3 submit-button" type="submit">BUY NOW</button>
  </div>
</nav>

