<div class="container p-5 mt-5 shadow-lg">
  <div class="row ">
    <div class="border border-end-0 col-6 p-5">
      <h6>MAKE YOUR TEAM COLLABORATE_</h6>
      <h1>Focus On
        Your Business</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet recusandae ipsum ipsam quam, doloribus perferendis accusamus at voluptate nostrum explicabo!</p>
        <div class="border p-3">
          Save time – we focus on the details.
        </div>
      </div>
    <div class="border border-start-0 col-md-6 p-5">
      <img style="height: 350px; width: 400px" src="https://mobirise.com/extensions/partneramp/corporateconsulting/assets/images/man-2.png">
    </div>
  </div>
</div>
