<div class="container d-flex flex-column align-items-center mt-3">
<h1><b>Services</b></h1>
<div class="row">
<div class="card img__wrap mr-5" style="width:18rem">
  <img class="img__img" src="https://www.wmky.org/sites/wmky/files/202104/business-owner-policy.jpg" />

  <div class="content">
    <h3>Business Planner</h3>
  </div>
  <div class="img__description">
  <p>Lorem ipsum dolor sit
    amet,
    consectetur adipiscing elit.
    Aliquam lobortis nisl ac augue tristique
</p>
</div>
</div>
<div class="card img__wrap mr-5" style="width:18rem">
  <img class="img__img" src="https://www.wmky.org/sites/wmky/files/202104/business-owner-policy.jpg" />
  <p class="img__description">This image looks super neat.</p>
</div>
<div class="card img__wrap" style="width:18rem">
  <img class="img__img" src="https://www.wmky.org/sites/wmky/files/202104/business-owner-policy.jpg" />
  <p class="img__description">This image looks super neat.</p>
</div>
</div>
</div>
