<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block w-100"
        src="https://mobirise.com/extensions/partneramp/corporateconsulting/assets/images/corporate-1.jpg"
        alt="First slide"
      />
      <div class="carousel-content ml-auto">
        <h5>WE CAN TAP INTO OUR COLLECTIVE MINDSHARE</h5>
        <h1 class="carousel-heading">
          We help clients solve<br />complex problems
        </h1>
        <div class="row p-3">
          <button class="btn btn-primary mr-3 p-3">LEARN MORE</button>
          <button class="btn btn-outline p-3">GET IN TOUCH</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="https://mobirise.com/extensions/partneramp/corporateconsulting/assets/images/corporate-2.jpg"
        alt="Second slide"
      />
      <div class="carousel-content ml-auto">
        <h5>SO YOU CAN FOCUS ON THE PRESENT</h5>
        <h1 class="carousel-heading">
          Super advisor to give<br />you the best advice
        </h1>
        <div class="row p-3">
          <button class="btn btn-primary mr-3 p-3">LEARN MORE</button>
          <button class="btn btn-outline p-3">GET IN TOUCH</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="https://mobirise.com/extensions/partneramp/corporateconsulting/assets/images/colleagues3.jpg"
        alt="Third slide"
      />
      <div class="carousel-content ml-auto">
        <h5>WHAT MAKES A PRODUCT A MOVEMENT</h5>
        <h1 class="carousel-heading">
          Movements <br />
          With Meaning
        </h1>
        <div class="row p-3">
          <button class="btn btn-primary mr-3 p-3">LEARN MORE</button>
          <button class="btn btn-outline p-3">GET IN TOUCH</button>
        </div>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleControls"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleControls"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
